<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>POS Printer Database</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="dist/css/main.min.css" media="screen,projection" />

  <script type="text/template" id="encoding-template-row">
    <a class="collection-item blue-text" href="#encodings/<%= _.escape(id) %>"><%= _.escape(name) %></a>
  </script>

  <script type="text/template" id="encoding-template-detail">
    <div class="right">
      <a href="https://github.com/receipt-print-hq/escpos-printer-db/blob/master/data/encoding.yml" title="Suggest changes to <%= _.escape(name) %> on GitHub"><i class="material-icons blue-text text-darken-1">edit</i></a>
    </div>
    <h3>Encoding: <%= _.escape(name) %></h3>

    <h4>Basic details</h4>

    <table class="bordered">
      <tr>
        <th>Name</th>
        <td><%= _.escape(name) %></td>
      </tr>
      <tr>
        <th>Internal ID</th>
        <td><%= _.escape(id) %></td>
      </tr>
      <tr>
        <th>Python encode ID</th>
        <td><%= _.isEmpty(python_encode) ? '&mdash;' : _.escape(python_encode) %></td>
      </tr>
      <tr>
        <th>Iconv ID</th>
        <td><%= _.isEmpty(iconv) ? '&mdash;' : _.escape(iconv) %></td>
      </tr>
    </table>

    <% if(data !== null) { %>
    <h4>Data</h4>

    <table class="striped compact">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <% hex_chars = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F']; _.each(hex_chars, function(i) { %>
          <th><%= _.escape(i) %></th>
          <% }); %>
        </tr>
      </thead>
      <tbody>
      <% for (i = 0; i < 8; i++) { %>
      <tr>
        <th><%= _.escape(hex_chars[i + 8]) %></th>
        <% for (j = 0; j < 16; j++) { %>
        <% if(data[i][j] === ' ') { %>
        <td>&nbsp;</td>
        <% } else {%>
        <td title="<%= _.escape(name) %> 0x<%= _.escape(hex_chars[i + 8]) %><%= _.escape(hex_chars[j]) %>: <%= _.escape(data[i][j]) %>"><%= _.escape(data[i][j]) %></td>
        <% } %>
        <% } %>
      </tr>
      <% } %>
      </tbody>
    </table>
    <% } %>

    <h4>Used in profiles</h4>

    <div class="collection">
      <% _.each(profiles, function(profile) { %>
        <a class="collection-item blue-text" href="#profiles/<%= _.escape(profile.id) %>"><%= _.escape(profile.name) %></a>
      <% }); %>
    </div>
  </script>

  <script type="text/template" id="vendor-template-row">
    <a class="collection-item blue-text" href="#vendors/<%= _.escape(id) %>"><%= _.escape(name) %></a>
  </script>

  <script type="text/template" id="vendor-template-detail">
    <h3>Vendor: <%= _.escape(name) %></h3>

    <div class="collection">
      <% _.each(profiles, function(profile) { %>
        <a class="collection-item blue-text" href="#profiles/<%= _.escape(profile.id) %>"><%= _.escape(profile.name) %></a>
      <% }); %>
    </div>
  </script>

  <script type="text/template" id="profile-template-row">
    <a class="collection-item blue-text" href="#profiles/<%= _.escape(id) %>"><%= _.escape(name) %></a>
  </script>

  <script type="text/template" id="profile-template-detail">
    <div class="right">
      <a href="https://github.com/receipt-print-hq/escpos-printer-db/blob/master/data/profile/<%= _.escape(id) %>.yml" title="Suggest changes to <%= _.escape(name) %> on GitHub"><i class="material-icons blue-text text-darken-1">edit</i></a>
    </div>
    <h3><%= _.escape(name) %></h3>

    <%= _.escape(notes) %>

    <h4>Basic information</h4>

    <table class="bordered">
      <tr>
        <th>Name</th>
        <td><%= _.escape(name) %></td>
      </tr>
      <tr>
        <th>Profile ID</th>
        <td><%= _.escape(id) %></td>
      </tr>
      <tr>
        <th>Vendor</th>
        <td><a href="#vendors/<%= _.escape(vendor_name_to_id(vendor)) %>"><%= _.escape(vendor) %></a></td>
      </tr>
      <tr>
        <th>Media width (mm)</th>
        <td><%= _.escape(media.width.mm) %></td>
      </tr>
      <tr>
        <th>Media width (pixels)</th>
        <td><%= _.escape(media.width.pixels) %></td>
      </tr>
    </table>

    <h4>Fonts</h4>

    <table class="bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Columns</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(fonts, function(font) { %>
        <tr>
          <td><%= _.escape(font.key) %></td>
          <td><%= _.escape(font.val.name) %></td>
          <td><%= _.escape(font.val.columns) %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h4>Colors</h4>
    <table class="bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(colors, function(color) { %>
        <tr>
          <td><%= _.escape(color.key) %></td>
          <td><%= _.escape(color.val) %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <h4>Feature support</h4>

    <table class="bordered">
      <% _.each(features, function(feature) { %>
      <tr>
        <th><%= _.escape(feature.key) %></th>
        <td>
          <% if (feature.val) { %>
          <i class="material-icons green-text text-darken-1">check</i>
          <% } else { %>
          <i class="material-icons red-text text-darken-1">clear</i>
          <% } %>
        </td>
      </tr>
      <% }); %>
    </table>

    <h4>Text code pages</h4>

    <table class="bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Encoding</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(codePages, function(codePage) { %>
        <tr>
          <td><%= _.escape(codePage.key) %></td>
          <td>
            <% if (codePage.val !== 'Unknown') { %>
              <a class="collection-item blue-text" href="#encodings/<%= _.escape(codePage.val) %>"><%= _.escape(codePage.val) %></a>
            <% } else { %>
              Unknown
            <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </script>
</head>

<body>
  <nav class="blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><i class="material-icons">folder</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#profiles">Printer profiles</a></li>
        <li><a href="#encodings">Text encodings</a></li>
        <li><a href="#vendors">Printer vendors</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div id="page-default">
    <!-- Appears during loading -->
  </div>
  <div id="page-overview" class="hide">
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text">POS Printer Database</h1>
        <div class="row center">
          <h5 class="header col s12 light">This is a community-maintained database of POS printer capabilities, for producing interoperable software.</h5>
        </div>
        <div class="row center">
          <a href="#profiles" id="download-button" class="btn-large waves-effect waves-light blue">Browse Printers</a>
        </div>
        <br><br>

      </div>
    </div>

    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="material-icons">language</i></h2>
              <h5 class="center">Localised</h5>

              <p class="light">POS printers use legacy code pages, but data is usually found in a modern encoding like UTF-8.</p>
              <p class="light">This database allows developers to handle this conversion gracefully, to get printers speaking your language.</p>
              <p class="center">
                <a class="btn waves-effect waves-light blue" href="#encodings">Browse encodings</a>
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="material-icons">code</i></h2>
              <h5 class="center">Open source</h5>
              <p class="light">This data was collected by the open source POS community, to help improve their own printing experience.</p>
              <p class="light">By contributing to this database, you can improve software compatibility for the printers that you use.</p>
              <p class="center">
                <a class="btn waves-effect waves-light blue" href="https://github.com/receipt-print-hq/escpos-printer-db">Get involved</a>
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="material-icons">business</i></h2>
              <h5 class="center">Vendor independent</h5>

              <p class="light">Some printers emulate a limited ESC/POS command set.</p>
              <p class="light">By using this database, you can develop software that sends the right commands to ESC/POS printers from any vendor.</p>

              <p class="center">
                <a class="btn waves-effect waves-light blue" href="#vendors">Browse vendors</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>

  <div id="page-profiles" class="container hide">
    <div class="right">
      <a href="https://github.com/receipt-print-hq/escpos-printer-db/blob/master/doc/add-your-printer.md" title="Add your printer"><i class="material-icons blue-text text-darken-1">add</i></a>
    </div>
    <h3>Printer profile list</h3>
    <div class="collection" id="profile-list"></div>
  </div>

  <div id="page-profile" class="container hide">
    <div id="profileTemplateDetail"></div>
  </div>

  <div id="page-vendors" class="container hide">
    <h3>Printer vendor list</h3>
    <div class="collection" id="vendor-list"></div>
  </div>

  <div id="page-vendor" class="container hide">
    <div id="vendorTemplateDetail"></div>
  </div>

  <div id="page-encodings" class="container hide">
    <h3>Text encoding list</h3>
    <div class="collection" id="encoding-list"></div>
  </div>

  <div id="page-encoding" class="container hide">
     <div id="encodingTemplateDetail"></div>
  </div>

  <div id="page-failed" class="container hide">
    <br><br>
    <h1 class="header center">Problem loading page :(</h1>
    <div class="row center">
      <h5 class="header col s12 light">There was an error fetching data for the page. Please try again.</h5>
    </div>
    <div class="row center">
      <a href="javascript:location.reload();" id="download-button" class="btn-large waves-effect waves-light blue">Reload page</a>
    </div>
    <br><br>
  </div>

  <footer class="page-footer blue hide" id="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About this database</h5>
          <p class="grey-text text-lighten-4">This is a community-maintained database of POS printer capabilities, for producing interoperable software.</p>
          <p class="grey-text text-lighten-4">This project aims to list the features of every printer that supports the ESC/POS protocol, to make it possible for open source generators, parsers and other utilities to produce accurate output across all devices on the market.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Get involved</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/receipt-print-hq/escpos-printer-db">Project Home</a></li>
            <li><a class="white-text" href="https://github.com/receipt-print-hq/escpos-printer-db/issues">Issue Tracker</a></li>
            <li><a class="white-text" href="https://travis-ci.org/receipt-print-hq/escpos-printer-db">Build Status</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Selected projects</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/mike42/escpos-php">escpos-php</a></li>
            <li><a class="white-text" href="https://github.com/receipt-print-hq/escpos-tools">escpos-tools</a></li>
            <li><a class="white-text" href="https://github.com/python-escpos/python-escpos">python-escpos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        This content is available under the <a class="blue-text text-lighten-3" href="https://github.com/receipt-print-hq/escpos-printer-db/blob/master/LICENSE.md">Creative Commons Attribution 4.0</a> license. No warranty is provided by any party, express
        or implied.
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="dist/js/main.min.js"></script>
</body>

</html>
